<% provide(:title, t("text.users_list")) %>
<h1><%= t("text.users_list") %></h1>
<%== pagy_bootstrap_nav(@pagy) %>
  <ul class="users">
      <%= render @users%>
  </ul>
<%== pagy_bootstrap_nav(@pagy) %>
